body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: #ECE4F0;
}

.container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
